# macOS
.DS_Store

# Temp files
*~
~$*
temporary_*.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
local.py

# Linting
.ruff_cache

# Tests
htmlcov/
.coverage
coverage.xml

# IDE
.idea/
.vscode/

# Virtual environment directories
.venv/
venv/
env/
.env*

# Other
cprofile.py